.nadpis {
    text-align: center;
}

.media {
    display: flex;
    flex-direction: row;
}

.media-body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.price {
    margin-top: auto;
    margin-bottom: 0;
}

